# Evitar subir credenciales y datos sensibles
.venv
venv
data
data/raw/
data/processed
visualizations/
.env

# Archivos innecesarios o temporales
__pycache__/
.ipynb_checkpoints/
notebooks\.cache
.cache
credentials

